name: snackflow
description: "A modern and customizable Flutter snack notification system."
version: 0.0.1
repository: https://github.com/NazrulIslam991/SnackFlow
license: MIT


environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.0.0"


dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter:
  uses-material-design: true

